##IMPORTING LIBRARY

In [65]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

lst = ['geeks', 'for','geeks']

In [49]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [50]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [51]:
df.shape

(150, 5)

In [52]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [53]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [54]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [55]:
print("Dimensi X_train : ", x_train.shape)
print("Dimensi X_train : ", x_test.shape)
print("Dimensi y_train : ", y_train.shape)
print("Dimensi y_test : ", y_test.shape)

Dimensi X_train :  (120, 4)
Dimensi X_train :  (30, 4)
Dimensi y_train :  (120,)
Dimensi y_test :  (30,)

In [58]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

##DATA SPLIT USING

In [61]:
data_train =df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']][:120]
label_train = df[['species']][:120]
data_validation = df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']][-30:]
label_validation = df[['species']][-30:]

In [62]:
print("Dimensi X_train : ", len(data_train))
print("Dimensi X_train : ", len(label_train))
print("Dimensi y_train : ", len(data_validation))
print("Dimensi y_test : ", len(label_validation))

Dimensi X_train :  120
Dimensi X_train :  120
Dimensi y_train :  30
Dimensi y_test :  30

In [69]:
MinMaxScaler = MinMaxScaler()

In [78]:
data_norm = minMaxScaler.fit_transform(df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']])

In [79]:
data_hasil_norm = pd.DataFrame(data_norm)

In [80]:
data_hasil_norm

            0         1         2         3
0    0.222222  0.625000  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2    0.111111  0.500000  0.050847  0.041667
3    0.083333  0.458333  0.084746  0.041667
4    0.194444  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]

In [82]:
np.std(df)

sepal_length    0.825301
sepal_width     0.434411
petal_length    1.759404
petal_width     0.759693
dtype: float64

In [83]:
stand_scal = StandardScaler()
data_scal = stand_scal.fit_transform(df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']])

In [87]:
data_hasil_scale = pd.DataFrame(data_scal)

In [90]:
data_hasil_scale

            0         1         2         3
0   -0.900681  1.019004 -1.340227 -1.315444
1   -1.143017 -0.131979 -1.340227 -1.315444
2   -1.385353  0.328414 -1.397064 -1.315444
3   -1.506521  0.098217 -1.283389 -1.315444
4   -1.021849  1.249201 -1.340227 -1.315444
..        ...       ...       ...       ...
145  1.038005 -0.131979  0.819596  1.448832
146  0.553333 -1.282963  0.705921  0.922303
147  0.795669 -0.131979  0.819596  1.053935
148  0.432165  0.788808  0.933271  1.448832
149  0.068662 -0.131979  0.762758  0.790671

[150 rows x 4 columns]

In [89]:
np.std(data_scal)

1.0

##DATA CLEANING

In [4]:
data_clean = pd.read_csv('https://raw.githubusercontent.com/rrizwan43/Data-Cleanig-with-SQL/main/Cleaned_nashville_housing_dataset_.csv')

In [22]:
data_nv = pd.DataFrame(data_clean)

In [24]:
data_nv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56373 entries, 0 to 56372
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   UniqueID              56373 non-null  int64
 1   ParcelID              56373 non-null  object
 2   LandUse               56373 non-null  object
 3   SalePrice             56373 non-null  int64
 4   LegalReference        56373 non-null  object
 5   SoldAsVacant          56373 non-null  object
 6   OwnerName             25215 non-null  object
 7   Acreage               25969 non-null  float64
 8   LandValue             25969 non-null  float64
 9   BuildingValue         25969 non-null  float64
 10  TotalValue            25969 non-null  float64
 11  YearBuilt             24118 non-null  float64
 12  Bedrooms              24112 non-null  float64
 13  FullBath              24230 non-null  float64
 14  HalfBath              24099 non-null  float64
 15  SALEDATECONVERTED     56373 non-null  object
 16  PropertySplitAddress  56373 non-null  object
 17  PropertySplitCity     56373 non-null  object
 18  OwnerSplitAddress     25969 non-null  object
 19  OwnerSplitCity        25969 non-null  object
 20  OwnerSplitState       25969 non-null  object
dtypes: float64(8), int64(2), object(11)
memory usage: 9.0+ MB

In [25]:
data_nv.isna().sum()

UniqueID                    0
ParcelID                    0
LandUse                     0
SalePrice                   0
LegalReference              0
SoldAsVacant                0
OwnerName               31158
Acreage                 30404
LandValue               30404
BuildingValue           30404
TotalValue              30404
YearBuilt               32255
Bedrooms                32261
FullBath                32143
HalfBath                32274
SALEDATECONVERTED           0
PropertySplitAddress        0
PropertySplitCity           0
OwnerSplitAddress       30404
OwnerSplitCity          30404
OwnerSplitState         30404
dtype: int64

In [26]:
data_nv.dtypes

UniqueID                  int64
ParcelID                 object
LandUse                  object
SalePrice                 int64
LegalReference           object
SoldAsVacant             object
OwnerName                object
Acreage                 float64
LandValue               float64
BuildingValue           float64
TotalValue              float64
YearBuilt               float64
Bedrooms                float64
FullBath                float64
HalfBath                float64
SALEDATECONVERTED        object
PropertySplitAddress     object
PropertySplitCity        object
OwnerSplitAddress        object
OwnerSplitCity           object
OwnerSplitState          object
dtype: object

In [20]:
impute_mean = SimpleImputer(strategy='mean')
impute_median = SimpleImputer(strategy='median')
impute_modus = SimpleImputer(strategy='most_frequent')

In [30]:
#subtitusi the null value using mean values
data_nv['Acreage'] = impute_mean.fit_transform(data_nv[['Acreage']])
data_nv['LandValue'] = impute_mean.fit_transform(data_nv[['LandValue']])
data_nv['BuildingValue'] = impute_mean.fit_transform(data_nv[['BuildingValue']])
data_nv['TotalValue'] = impute_mean.fit_transform(data_nv[['TotalValue']])

#subtitusi the null value using median values
data_nv['YearBuilt'] = impute_median.fit_transform(data_nv[['YearBuilt']])
data_nv['Bedrooms'] = impute_median.fit_transform(data_nv[['Bedrooms']])
data_nv['FullBath'] = impute_median.fit_transform(data_nv[['FullBath']])
data_nv['HalfBath'] = impute_median.fit_transform(data_nv[['HalfBath']])

In [36]:
#recheck value 
data_nv.isna().sum()

UniqueID                0
ParcelID                0
LandUse                 0
SalePrice               0
LegalReference          0
SoldAsVacant            0
OwnerName               0
Acreage                 0
LandValue               0
BuildingValue           0
TotalValue              0
YearBuilt               0
Bedrooms                0
FullBath                0
HalfBath                0
SALEDATECONVERTED       0
PropertySplitAddress    0
PropertySplitCity       0
OwnerSplitAddress       0
OwnerSplitCity          0
OwnerSplitState         0
dtype: int64

In [34]:
#subtitusi the null value using modus values
data_nv['OwnerName'] = impute_modus.fit_transform(data_nv[['OwnerName']])
data_nv['OwnerSplitAddress'] = impute_modus.fit_transform(data_nv[['OwnerSplitAddress']])
data_nv['OwnerSplitCity'] = impute_modus.fit_transform(data_nv[['OwnerSplitCity']])
data_nv['OwnerSplitState'] = impute_modus.fit_transform(data_nv[['OwnerSplitState']])

In [35]:
data_nv.isna().sum()

UniqueID                0
ParcelID                0
LandUse                 0
SalePrice               0
LegalReference          0
SoldAsVacant            0
OwnerName               0
Acreage                 0
LandValue               0
BuildingValue           0
TotalValue              0
YearBuilt               0
Bedrooms                0
FullBath                0
HalfBath                0
SALEDATECONVERTED       0
PropertySplitAddress    0
PropertySplitCity       0
OwnerSplitAddress       0
OwnerSplitCity          0
OwnerSplitState         0
dtype: int64

##Wrong Format

In [38]:
data_nv.dtypes

UniqueID                  int64
ParcelID                 object
LandUse                  object
SalePrice                 int64
LegalReference           object
SoldAsVacant             object
OwnerName                object
Acreage                 float64
LandValue               float64
BuildingValue           float64
TotalValue              float64
YearBuilt               float64
Bedrooms                float64
FullBath                float64
HalfBath                float64
SALEDATECONVERTED        object
PropertySplitAddress     object
PropertySplitCity        object
OwnerSplitAddress        object
OwnerSplitCity           object
OwnerSplitState          object
dtype: object

In [44]:
data_nv['Acreage'].astype('int64').dtypes

dtype('int64')

#Duplicate Values

In [59]:
nama = ['asd','joko','sambo','sambo','asd','sola']
nilai = [1,2,3,3,1,2]

data_duplicate = pd.DataFrame({
    'nama' : nama,
    'nilai': nilai
})

data_duplicate.duplicated().sum()

2

In [60]:
data_duplicate.drop_duplicates(inplace = True)

In [61]:
data_duplicate.duplicated().sum()

0

In [62]:
##Encoding

In [66]:
nama = ['asd','joko','sambo','sambo','asd','sola']
nilai = [1,2,3,3,1,2]

data_duplicate = pd.DataFrame({
    'nama' : nama,
    'nilai': nilai
})

In [69]:
encoder = OrdinalEncoder()
data_duplicate['nama'] = encoder.fit_transform(data_duplicate[['nama']])
data_duplicate.astype('int64')

   nama  nilai
0     0      1
1     1      2
2     2      3
3     2      3
4     0      1
5     3      2